@model IEnumerable<MPAJukebox.Models.Song>

<div class="container mt-4">
    <h2>All Songs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Duration</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Artist</td>
                <td>@song.Genre.Name</td>
                <td>@TimeSpan.FromMinutes(song.Duration).ToString(@"mm\:ss")</td>
                <td>
                    <div class="dropdown">
                        <button class="song-button-more" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            •••
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="Song" asp-action="AddToPlaylist" asp-route-id="@song.Id">
                                    Add to Playlist
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Song" asp-action="Details" asp-route-id="@song.Id">
                                    View Details
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>