@model MPAJukebox.Models.HomeViewModel

<div class="container mt-4">
    <h2>Top Genres</h2>
    <div class="row">
        @foreach (var genre in Model.Genres)
        {
        <div class="col-md-3 mb-4">
            <a asp-controller="Genre" asp-action="SongsByGenre" asp-route-id="@genre.Id" class="text-decoration-none">
                <div class="genre-card">
                    <div class="genre-details">
                        <h5>@genre.Name</h5>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>

<div class="container mt-4">
    <h2>Top 4 Songs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Duration</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in Model.Songs)
        {
        <tr>
            <td>@song.Title</td>
            <td>@song.Artist</td>
            <td>@song.Genre.Name</td>
            <td>@song.Duration</td>
            <td><button class="song-button-more">•••</button></td>
        </tr>
        }
        </tbody>
    </table>
</div>
